* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*  NAV  */


.container-nav {
    background-color: rgb(81, 153, 255);
    display: flex;
    justify-content: space-between;
    color: white;
}

.row-nav {
    width: 100%;
    max-width: 992px;
    /*background-color: blueviolet;*/
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;

}


.list-nav {

}


/*  MAIN  */

.container-main {
    background-color: rgb(255, 200, 0);
    border: 1px solid black;
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
    padding: 1rem;

}

.row.main {
    display: flex;
    flex-wrap: wrap;

}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    border: 1px dashed red;
    padding: 1rem;

}

.larg {
    flex-basis: calc((100% / 3) * 2);
    display: flex;
    
}

.small {
    flex-basis: calc(100% / 3);
}