@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 748px;
        margin: 0 auto;
        padding: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}


@media screen and (min-width: 1100px) {
    .container {
        max-width: 992px;
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*  NAV  */


.container-nav {
    background-color: rgb(81, 153, 255);
    color: white;
}

.row-nav {
    width: 100%;
    max-width: 992px;
    /*background-color: blueviolet;*/
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;

}


.list-nav {
    list-style: none;
    display: flex;
}

.but-pos {
    display: none;
}

/*  MAIN  */

.container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;/* levarlo per versioni pc tablet*/
    align-items: flex-end;
    padding: 1rem 1rem ;
    border-radius: 1rem;
    margin: 1rem;

}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
}

.larg {
    flex-basis: calc((100% / 3) * 2);
    margin-top: 1rem;
    background-color: aqua;
    border-radius: 1rem;
}

.phone {
    width: 50%;
}


.small {
    flex-basis: calc(100% / 3);
    text-align: center;
    margin-top: 1rem;
    background-color: aqua;
    border-radius: 1rem;

}

.bia {
    background-color: white;
    border-radius: 15px;
    text-align: center;
}

.container-main-2 {
    background-color: blueviolet;
}


.col50 {
    flex-basis: 50%;
    border-radius: 1px solid black;
    text-align: center;
} 

img {
    width: 60%;
}

.col-3 {
    background-color: blueviolet;
    border: 1px solid black;
    text-align: center;
    padding: 1rem 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
}

.img-col-3 {
    border-radius: 50%;
    width: 30%;

}

.row-main-4 {
    padding: 1rem 1rem;
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.main-4 {
    background-color: rgb(226, 43, 162);
    /*height: 500px;   provvisorio */
}

.colo1-2 {
    border-radius: 1rem;
    flex-basis: 100%;
    border: 1px solid black;
    padding: 1rem;
}

/*  FOOTER */

.footer-1 {
    max-width: 600px;
    background-color: aqua;
    height: 400px;  /* provvisorio */

}

.footer-2 {
    max-width: 600px;
    background-color: rgb(255, 0, 8);
    height: 300px;  /* provvisorio */
}